<div>
  <div class="greetings-area mt-5">
    <div class="row justify-content-between">
      <div class="col-md-6 col-lg-5">
        <h4>Transactions</h4>
        <p>View all your transactions</p>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="greetings-area my-3">
              <div class="col">
                <h5>Recent Transactions</h5>
                <p>View your payment history and view past usage statements</p>
              </div>
            </div>
            <div>
              <loading-spinner [spinning]="loading">
                <div class="">
                  <div class="row mt-2 mb-4">
                    <div class="col-auto">
                      <search-input
                        (searchTextEvent)="searchTransactions($event)"
                      ></search-input>
                    </div>
                    <div class="col-auto">
                      <label for="date-range" class="visually-hidden"
                        >Date Range</label
                      >
                      <div class="customcontrol">
                        <div class="customcontrol-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                          >
                            <path fill="none" d="M0 0H24V24H0z" />
                            <path
                              d="M9 1v2h6V1h2v2h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2zm11 9H4v9h16v-9zM8 13v2H6v-2h2zm6 0v2h-2v-2h2zm6 0v2h-2v-2h2zm-12 4v2H6v-2h2zm6 0v2h-2v-2h2zm6 0v2h-2v-2h2zM8 5v2H6V5h2zm6 0v2h-2V5h2zm6 0v2h-2V5h2z"
                            />
                          </svg>
                        </div>
                        <input
                          type="date"
                          id="start-date"
                          class="customcontrol-select"
                          [(ngModel)]="startDate"
                          (change)="filterByDate()"
                        />
                        <span class="mx-2">to</span>
                        <input
                          type="date"
                          id="end-date"
                          class="customcontrol-select"
                          [(ngModel)]="endDate"
                          (change)="filterByDate()"
                        />
                      </div>
                    </div>
                    <div class="col-auto ms-auto">
                      <label for="product-filter" class="visually-hidden"
                        >Sort Product</label
                      >
                      <div class="customcontrol">
                        <div class="customcontrol-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                          >
                            <path fill="none" d="M0 0H24V24H0z" />
                            <path
                              d="M21 4v2h-1l-5 7.5V22H9v-8.5L4 6H3V4h18zM6.404 6L11 12.894V20h2v-7.106L17.596 6H6.404z"
                            />
                          </svg>
                        </div>
                        <select
                          id="product-filter"
                          (ngModelChange)="filterProductType($event)"
                          [(ngModel)]="type"
                          class="customcontrol-select"
                        >
                          <option [value]="1">KwikMax</option>
                          <option [value]="2">KwikGoals</option>
                          <option [value]="3">Wallet</option>
                          <option [value]="4">Credit</option>
                          <option [value]="5">Cashback</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="bg-light text-capitalize">
                        <tr>
                          <th scope="col">status</th>
                          <th scope="col">user</th>
                          <th scope="col">amount</th>
                          <th scope="col">bank name</th>
                          <th scope="col">account number</th>
                          <th scope="col">narration</th>
                          <th scope="col">transaction type</th>
                          <th scope="col">transaction date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngIf="
                            allTransactionsData && allTransactionsData.length;
                            else showNodata
                          "
                        >
                          <tr *ngFor="let transaction of allTransactionsData">
                            <td>
                              <span
                                *ngIf="transaction.processed == '1'"
                                class="badge bg-success py-2 px-3"
                                >Processed</span
                              >
                              <span
                                *ngIf="transaction.processed == '0'"
                                class="badge bg-secondary py-2 px-3"
                                >Awaiting Processing</span
                              >
                            </td>
                            <td>
                              {{ transaction.user?.first_name }}
                              {{ transaction.user?.last_name }}
                            </td>
                            <td>
                              {{
                                (transaction.amount ? transaction.amount : 0)
                                  | currency : "₦" : "symbol" : "1.2"
                              }}
                            </td>
                            <td>{{ transaction.bankcode | bankName }}</td>
                            <td>
                              {{
                                transaction.accountnumber
                                  ? transaction.accountnumber
                                  : "N/A"
                              }}
                            </td>
                            <td>
                              {{ transaction.narration }}
                            </td>
                            <td>
                              <span
                                *ngIf="transaction.transaction_type == '1'"
                                class="badge bg-success py-2 px-3"
                                >Debit (Successful)</span
                              >
                              <span
                                *ngIf="transaction.transaction_type == '2'"
                                class="badge bg-success py-2 px-3"
                                >Credit (Successful)</span
                              >
                              <span
                                *ngIf="transaction.transaction_type == '3'"
                                class="badge bg-danger py-2 px-3"
                                >Debit (Failed)</span
                              >
                              <span
                                *ngIf="transaction.transaction_type == '4'"
                                class="badge bg-danger py-2 px-3"
                                >Credit (Failed)</span
                              >
                            </td>
                            <td>{{ transaction.created_at | date }}</td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                  <kb-pagination
                    (pageSizeChanged)="pageSizeChanged($event)"
                    [itemsFrom]="allTransactionsTableData?.from"
                    [itemsEnd]="allTransactionsTableData?.to"
                    [total-items]="totalDataRecord"
                    [items-per-page]="pageSize"
                    (pageChanged)="paginateData($event)"
                  >
                  </kb-pagination>
                </div>
              </loading-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #showNodata>
  <tr>
    <td colspan="100%">
      <div
        class="p-3 d-flex align-items-center flex-column justify-content-center"
      >
        <svg
          style="width: 1.5rem; height: 1.5rem"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
          ></path>
        </svg>
        <span style="font-size: 14px"> No data </span>
      </div>
    </td>
  </tr>
</ng-template>
