<div class="greetings-area mt-5">
  <div class="row justify-content-between">
    <div class="col-md-6 col-lg-5">
      <h4>Change Password</h4>
      <p>Change your account password</p>
    </div>
  </div>
</div>
<div class="mt-5">
  <div class="row">
   <div class="card">
    <div class="card-body">
      <div class="col-md-6 col-lg-5 mx-auto">
        <div class="px-lg-4 px-md-4 px-0 my-5">
          <div class="greetings-area mt-5 mb-4">
            <p>Change your account password </p>
          </div>
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="position-relative pt-1 pb-4">
              <fieldset class="form-control">
                <legend>New Password</legend>
                <input type="password" (change)="updateConfirmValidator()" formControlName="password">
              </fieldset>
              <ng-container
                *ngIf="(changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched) && changePasswordForm.controls['password'].errors">
                <small *ngIf="changePasswordForm.controls['password'].errors['required']" id="password-help"
                  class="text-danger text-xs">Please enter new password</small>
              </ng-container>
            </div>
            <div class="position-relative pt-1 pb-4">
              <fieldset class="form-control">
                <legend>Confirm Password</legend>
                <input type="password" formControlName="password_confirmation">
              </fieldset>
              <ng-container
                *ngIf="(changePasswordForm.controls['password_confirmation'].dirty || changePasswordForm.controls['password_confirmation'].touched) && changePasswordForm.controls['password_confirmation'].errors">
                <small *ngIf="changePasswordForm.controls['password_confirmation'].errors['required']" id="password_confirmation-help"
                  class="text-danger text-xs">Please confirm your password</small>
                  <small *ngIf="changePasswordForm.controls['password_confirmation'].errors['confirm']" id="password_confirmation-help"
                  class="text-danger text-xs">Passwords don't match</small>
              </ng-container>
            </div>
            <button type="submit" [disabled]="loading" class="btn btn-purple w-100">
              <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
             <span *ngIf="!loading">Change Password</span>
            </button>
          </form>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>
