/*user defined styles*/
@import "base/base";

@import "partials/header";
@import "partials/input";
@import "partials/vendor-overwrite";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/table";
@import "partials/button";
@import "partials/scrollbar";

@import "layouts/auth.scss";
@import "layouts/page.scss";

.nav-link {
  color: unset;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  /* color: var(--bs-nav-pills-link-active-color); */
  color: var(--bs-nav-pills-link-active-bg) !important;
  background-color: transparent !important;
  border-bottom: 1.5px solid !important;
  border-radius: 0 !important;
}
