<div class="card my-5">
  <div class="card-body">
    <apx-chart 
      [series]="chartOptions.series" 
      [chart]="chartOptions.chart" 
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels" 
      [grid]="chartOptions.grid" 
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title" 
      [markers]="chartOptions.markers" 
      [yaxis]="chartOptions.yaxis"
      [fill]="chartOptions.fill" 
      [colors]="chartOptions.colors" 
      [legend]="chartOptions.legend"
      [tooltip]="chartOptions.tooltip">
    </apx-chart>
  </div>
</div>