.balClass{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}
.negative{
    color: red;
}

.total{
    font-size: small;
    font-weight: bold;
}
table{
    font-size: small;
}

.headBtn{
    padding: 20px;
    border: 1px solid#3E4095;
    border-radius: 5px;
    cursor: pointer;
    color: #3E4095;
    margin-bottom: 10px;
    
}
.headBtn:hover {
    transition: all 0.5s ease-in-out !important;  
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.tabbody{
    transition: all ease-in-out 1s !important;  
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin: 20px;
}